APP_NAME="SU APPS"
APP_ENV=local
APP_KEY=base64:C6w2UbKkBBWOjEaDK4ZPnF997f7aLQDlcNzd/4WmEio=
APP_DEBUG=true
MIX_APP_URI="apps-directory"
APP_URL="https://csm.strathmore.edu/${MIX_APP_URI}"
MIX_APP_URL="${APP_URL}"

APP_USER=smaosa
APP_UID=1000
NETWORK_NAME=csm

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=apps-directory-db
DB_PORT=3306
DB_DATABASE=apps_directory
DB_USERNAME=laravel
DB_PASSWORD=password
DB_ROOT_PASSWORD=r00t
BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

#CAS
CAS_HOSTNAME=su-sso.strathmore.edu
CAS_REAL_HOSTS=su-sso.strathmore.edu
CAS_SESSION_NAME=apps-directory-Dddaf
CAS_SESSION_PATH='/'
CAS_CONTROL_SESSIONS=false
CAS_DEBUG=true
CAS_VERBOSE_ERRORS=true
CAS_PORT=443
CAS_URI=/cas
CAS_REDIRECT_PATH="${APP_URL}/login"
CAS_CALLBACK_URL="${APP_URL}/login"
MIX_CAS_URI="${CAS_URI}"
CAS_LOGIN_URL="https://su-sso.strathmore.edu/cas/login?service=${CAS_REDIRECT_PATH}"
MIX_CAS_LOGIN_URL="${CAS_LOGIN_URL}"
CAS_LOGOUT_URL=https://su-sso.strathmore.edu/cas/logout
CAS_LOGOUT_REDIRECT="${APP_URL}/login"
MIX_CAS_LOGOUT_URL="${CAS_LOGOUT_URL}"
CAS_ENABLE_SAML=false

DATA_RESTORATION_SECRET='secret'

PERSONAL_CLIENT_ID=1
PERSONAL_CLIENT_SECRET=9fmbEhXh9gjqRCNV0ipcaEg6Bpxi6XpkKztZdPQN

PASSWORD_CLIENT_ID=2
PASSWORD_CLIENT_SECRET=ne9Zkow7Nxdh5N7cgfPhtsvWsAmNakSn6QLkWa97
SCOUT_DRIVER=tntsearch
